/*fonts*/
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

/*default padrões*/
html {width: 100%; height: 100%;}
body {margin: 0; font-size: 14px; font-family:'PT Sans', sans-serif;}
*{margin: 0; padding: 0}

input[type='submit'] {padding: 7px; font-size: 16px; color: #FFF; font-style: italic; border-radius: 3px; cursor: pointer; box-shadow: none; border: none; transition: background-color 0.3s ease; background-color: orchid; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', sans-serif;}
input[type='submit']:hover{background-color: darkorchid;}

.link_branco:link, .link_branco:visited, .link_branco:active {color: rgba(255,255,255,0.7); text-decoration: none; transition: color 0.2s ease-in-out;}
.link_branco:hover{color: rgba(255,255,255,1);}

h1 {font-size: 1.5em; margin-bottom: 20px; font-weight: normal;}
    h1 span::after {content: "/"; margin: 0 10px; color: orchid; font-weight: bold;}
    h1 span:last-child::after {content: "";}
h2 {font-size: 16px; border-bottom: 3px solid orchid; margin-bottom: 20px;}
h3 {font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', sans-serif; font-weight: normal;}


/*cabeçalho*/
header {width: 100%; position: fixed; top: 0; left: 0; z-index: 99; background-color: orchid;}
    header section {position:relative; width: 1000px; margin: 0 auto; padding: 10px 0;}
    header section .mif-user, header section .mif-shopping-basket {float: right; font-size: 35px; color: #FFF; margin-right: 10px;}

    header section .mif-shopping-basket {cursor: pointer;}
    header section .mif-shopping-basket span {position:absolute; margin-left:-10px; background-color: #FFF; color: darkorchid; width: 20px; line-height: 20px; border-radius: 50%; font-size: 11px; text-align: center; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; box-shadow: 1px 1px 2px rgba(0,0,0,0.5);}

    header section .mif-user {margin-right: 40px; cursor: pointer}
    header section .logado {background-color: #FFF; color: darkorchid; border-radius: 50%; overflow: hidden; border: 1px solid #FFF; box-sizing: border-box;}
    header section .logado span {position:absolute; width: 55px; margin: 30px 0 0 -45px; font-size: 11px; text-transform: uppercase; text-shadow: 0px -1px 3px rgba(0,0,0,1); font-family:'PT Sans', sans-serif; color: #FFF; font-weight: bold; text-align: center}


/*conteudo da pagina*/
main {width: 1000px; min-height: 614px; margin: 80px auto;}

/*produtos index*/
#ulprodutos {list-style: none;}
#ulprodutos li {width: 23%; position: relative; display: inline-block; border: 1px solid #F0F0F0; margin: 1%; box-sizing: border-box; border-radius: 3px; overflow: hidden; transition: border-color 0.3s ease;}
#ulprodutos li:hover {border: 1px solid #CCC; color:#000;}
#ulprodutos li div:nth-child(1) {width: 100%; background-color: #FFF;}
    #ulprodutos li div:nth-child(1) img {width: 100%; border-bottom: 1px solid #F0F0F0;}
#ulprodutos li div:nth-child(2) {position: absolute; width: 50%; text-align: center; left: 0; line-height: 30px; color: #666; font-family: 'Trebuchet MS'; font-style: italic; border-bottom: 1px solid #F0F0F0; border-right: 1px solid #F0F0F0;}
#ulprodutos li div:nth-child(3) {position: absolute; width: 50%; text-align: center; right: 0; line-height: 30px; color: #333; font-family: 'Trebuchet MS'; border-bottom: 1px solid #F0F0F0}
#ulprodutos li div:nth-child(4) {margin-top: 30px; padding: 5px; height: 65px; overflow: hidden; color: #999;}
#ulprodutos li div:nth-child(5) {text-align: right; padding: 5px;}


/*rodape*/
footer {display: inline-block; position: relative; background-color: darkorchid;  width: 100%; padding: 20px 0 50px 0; margin-bottom: -5px; color: #FFF;}
    footer > div {width: 1000px; margin: 0 auto;}
    footer > div > section {position:relative; float:left; width: 33%;}
    footer > div > section div {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 15px; letter-spacing: -1px; text-transform: uppercase; padding: 10px;}
    footer > div > section div span {margin-right:10px;}
    footer > div > section ul { margin-left:30px; list-style: none;}
    footer > div > section ul li { margin: 0 0 5px 10px; font-size: 14px;}
    footer > div > section ul li::before {content: "/"; color: rgba(255,255,255,0.8); margin-right: 10px; font-weight: bold;}
    footer > div > section ul li:hover {border-left:2px solid rgba(255,255,255,0.8);}
    footer > div > section ul li:hover::before {content: "";}

/*Páginas Flutuantes*/
#produto-adicionado {position: fixed; left: calc(50% - 100px); width: 200px; text-align: center; top:20px; padding: 5px; background-color: rgba(0,130,0,0.8); color: #FFF; border-radius: 4px;}

.bg-paginaflutuante {display: none; position: fixed; top:0; left: 0; z-index: 100; width: 100%; height: 100%; background-color: rgba(0,0,0,0.9);}

#sacola {position: fixed; z-index: 101; top: 0; right: -360px; width: 350px; height: 100%; background-color: #FFF;box-shadow: -5px 0 10px   rgba(0,0,0,0.8);}
    /*cabeçalho*/
    #sacola .cabecalho {background-color: darkorchid; color: #FFF;}
    #sacola .cabecalho span {padding:0 10px; font-size: 20px; line-height: 60px;}
    #sacola .cabecalho span:nth-child(1) {float:left;}
    #sacola .cabecalho span:nth-child(2) {font-size: 16px;}
    #sacola .cabecalho span:nth-child(3) {float:right;}
    /*ul produtos*/
    #sacola #ulsacola {height: calc(91% - 60px); background-color: #FFF; overflow-y: scroll;}
        #sacola ul {list-style: none;}
        #sacola ul li {padding: 5px; position: relative;}
            #sacola ul li:nth-child(even) {background-color: #F1F1F1;}
            #sacola ul li div:nth-child(1) {float:left; width: 25%; margin-right: 5px;}
                #sacola ul li div:nth-child(1) img {width: 100%; border:1px solid #F0F0F0}
            #sacola ul li div:nth-child(2) {height:45px; overflow:hidden; font-size: 12px; color: #666;}
            #sacola ul li div:nth-child(3) {font-size: 12px; color: #999; font-style: italic;}
            #sacola ul li div:nth-child(4) {display: inline-block; margin-top: 10px;}
                #sacola ul li div:nth-child(4) input {width: 20px; padding: 5px; border-radius: 3px; border: 1px solid #CCC;}
            #sacola ul li div:nth-child(5) {position:absolute; display: inline-block; margin-top: 10px; right: 10px; line-height: 30px;}
            #sacola ul li hr {clear: both; border: none;}
    /*rodape: total e btn finalizar compra*/
    #sacola .total {position: relative; height: 4%; padding: 0 20px 0 0; background-color: #000; color: #FFF; font-weight: bold; text-align: right;}
        #sacola .total div {padding-top: 4%;}
    #sacola input {position: relative; border-radius: 0; width: 100%; height: 5%;}

#login {display:none; position: fixed; z-index: 101; top: calc(45% - 150px); left: calc(50% - 250px); width: 500px; box-sizing: border-box; padding: 10px; background-color: #FFF; border-radius: 2px; box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.8);}
    #login .cabecalho {font-size: 16px; font-weight: bold; margin-bottom: 20px; border-bottom: 3px solid darkorchid; color: darkorchid; }
    #form-login label {display: block; width: 100%; font-size: 14px; margin-bottom: 20px;}
    #form-login label div {margin-right: 1%;}
    #form-login label input {width: 100%; box-sizing: border-box; padding: 10px; border-radius: 3px; border: 1px solid #999;box-shadow: inset 2px 2px 5px rgba(0,0,0,0.2);}
    #form-login label input[type='submit'] {border: none; box-shadow: none;}

#cadastro-top {display:none; position: fixed; z-index: 101; top: calc(45% - 150px); left: calc(50% - 250px); width: 500px; box-sizing: border-box; padding: 10px; background-color: #FFF; border-radius: 2px; box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.8);}

.retorno {display: none; margin: 5px 5px 15px 5px; padding: 10px; border: 1px solid rgba(255,0,0,0.6); background-color: rgba(255,0,0,0.1);}















